// Sass/SCSS code

$primary-color: #2196f3;
$secondary-color: #e0e0e0;
body{
    background-color: red;

    form 
    {
        width: 500px;
        margin: 0 auto;
        text-align: left;
        padding: 40px;
        background-color: $secondary-color;
        border-radius: 10px;

        label 
        {
            font-weight: bold;
            margin-top: 20px;
            display: block;
        }

        input[type="text"] 
        {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            border: none;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        }

        button[type="submit"] 
        {
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            background-color: $primary-color;
            color: white;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
