$primary-color: #f8af7e73;
$secondary-color: #9dffce79;

html {
    background-color: rgba(236, 236, 236, 0.74);
    height: 100%;
}

body {
    h2 {
        text-align: center;
        font-size: 3em;
        font-family: 'Heebo', sans-serif;
    }

    form {
        width: 30em;
        margin: 0 auto;
        text-align: left;
        padding: 2.5em;
        background-color: $secondary-color;
        border-radius: 0.625em;
        font-family: 'Libre Baskerville', serif;
        text-align: center;

        label {
            font-weight: bold;
            margin-top: 1.25em;
            display: block;
        }

        input[type="text"] {
            width: 100%;
            padding: 0.625em;
            margin-top: 0.625em;
            border-radius: 0.313em;
            border: none;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        }

        button[type="submit"] {
            width: 100%;
            margin-top: 1.25em;
            padding: 0.625em;
            background-color: $primary-color;
            color: black;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }
    }

    #input_comment {
        width: 100%;
        resize: none;
    }
    #label_comment{
        padding-bottom: 0.5em;
    }
}

@media (max-width: 720px) {
    form {
        width: 100%;
        padding: 1.25em;
    }
}
